:root {
  /**
     @Font-Family Declaration
   */
  --tj-ff-body: 'Inter', sans-serif;;
  --tj-ff-heading: 'Manrope', sans-serif;;
  --tj-ff-fonticon: "tekmino-icon";
  /**
     @Font-weight Declaration
   */
  --tj-fw-normal: normal;
  --tj-fw-thin: 100;
  --tj-fw-elight: 200;
  --tj-fw-light: 300;
  --tj-fw-regular: 400;
  --tj-fw-medium: 500;
  --tj-fw-sbold: 600;
  --tj-fw-bold: 700;
  --tj-fw-ebold: 800;
  --tj-fw-black: 900;
  /**
     @Font-Size Declaration
   */
  --tj-fs-body: 16px;
  --tj-fs-p: 16px;
  --tj-fs-h1: 74px;
  --tj-fs-h2: 48px;
  --tj-fs-h3: 32px;
  --tj-fs-h4: 24px;
  --tj-fs-h5: 20px;
  --tj-fs-h6: 18px;
  /**
     @Color Declaration
   */
  --tj-color-common-white: #ffffff;
  --tj-color-common-black: #000000;
  --tj-color-common-black-2: #050505;
  --tj-color-heading-primary: #f6f7f7;
  --tj-color-text-body: #bcbdb9;
  --tj-color-text-body-2: #999996;
  --tj-color-theme-primary: #d3ed31;
  --tj-color-theme-bg: #191a18;
  --tj-color-theme-dark: #050505;
  --tj-color-theme-dark-2: #494a46;
  --tj-color-theme-dark-3: #6d6e68;
  --tj-color-white-2: rgba(255, 255, 255, 0.8);
  --tj-color-grey-1: #9692b2;
  --tj-color-grey-2: #78758f;
  --tj-color-grey-3: rgba(150, 146, 178, 0.8);
  --tj-color-grey-4: rgba(250, 251, 251, 0.0784313725);
  --tj-color-border-1: #282926;
  --tj-color-border-2: rgba(211, 237, 49, 0.5019607843);
  --tj-color-golden-1: #fdb900;
}

/**----------------------------------------
START: Default CSS
----------------------------------------*/
.tji-check,
.tji-check-2,
.tji-check-3,
.tji-check-4,
.tji-arrow-right-4,
.tji-play,
.slider-prev,
.slider-next {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.swiper-pagination-bullet::before {
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.vbox-close {
  right: auto;
  left: 0;
}

.vbox-left-corner {
  left: auto;
  right: 0;
}

.tj-primary-btn {
  padding: 5px 30px 5px 5px;
}
.tj-primary-btn .btn-icon i {
  -webkit-transform: rotate(45deg) scaleX(-1);
      -ms-transform: rotate(45deg) scaleX(-1);
          transform: rotate(45deg) scaleX(-1);
}
.tj-primary-btn:hover .btn-icon i {
  -webkit-transform: rotate(0) scaleX(-1);
      -ms-transform: rotate(0) scaleX(-1);
          transform: rotate(0) scaleX(-1);
}
.tj-primary-btn.style-2 {
  padding: 4px 29px 4px 4px;
}

.tj-icon-btn i {
  -webkit-transform: rotate(45deg) scaleX(-1);
      -ms-transform: rotate(45deg) scaleX(-1);
          transform: rotate(45deg) scaleX(-1);
}
.tj-icon-btn:hover i {
  -webkit-transform: rotate(0) scaleX(-1);
      -ms-transform: rotate(0) scaleX(-1);
          transform: rotate(0) scaleX(-1);
}

.nice-select::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.nice-select.open:after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.video-btn-2 .btn-icon i {
  display: inline-block;
}

.marquee-slider-wrapper,
.client-slider-wrap .scroll-slider .scroll-wrapper {
  -webkit-animation-name: scroll-rtl;
          animation-name: scroll-rtl;
}

[dir=rtl] [dir=rtl] .scroll-wrapper {
  animation-direction: reverse;
}

.tj-page-link span:not(:first-child) i {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.tj-pagination ul li .page-numbers i {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
  display: inline-block;
}

/* !END:  Default CSS */
/**----------------------------------------
START: Preloader CSS
----------------------------------------*/
#loading-icon {
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

/* !END:  Preloader CSS */
/**----------------------------------------
START: Theme Header CSS
----------------------------------------*/
.header-button .tj-primary-btn {
  padding: 5px 25px 5px 5px;
}

.tj-primary-btn.signup-btn {
  padding: 10px 28px;
}

.header-top-content .topbar-text a::after {
  -webkit-transform: rotate(45deg) scaleX(-1);
      -ms-transform: rotate(45deg) scaleX(-1);
          transform: rotate(45deg) scaleX(-1);
}
.header-top-content .topbar-text a:hover::after {
  -webkit-transform: rotate(0deg) scaleX(-1);
      -ms-transform: rotate(0deg) scaleX(-1);
          transform: rotate(0deg) scaleX(-1);
}
.header-top-content .header-info .info-item .tj-language:hover span::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.mainmenu ul > li.menu-item-has-children:hover > a::after,
.mainmenu ul > li.has-dropdown:hover > a::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hamburger_search select,
.hamburger_search .nice-select,
.hamburger_search input:not([type=submit]):not([type=radio]):not([type=checkbox]),
.hamburger_search input {
  padding: 0 16px 0 65px;
}
.hamburger_menu .mean-nav ul li a.mean-expand.mean-clicked {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.hamburger_menu .mean-nav ul li a.mean-expand.mean-clicked i {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.tj_search_wrapper .search_form form .search_input .search-box input[type=search] {
  padding: 20px 24px 20px 75px;
}

.number-wrapper .number span {
  background-position: 100% 100%;
}

/* !END: Theme Header CSS */
/**----------------------------------------
START: Hero CSS
----------------------------------------*/
.banner-img-area .banner-img {
  -webkit-mask-image: url(../images/rtl/hero-img-shape.svg);
          mask-image: url(../images/rtl/hero-img-shape.svg);
  -webkit-mask-position: top right;
          mask-position: top right;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .banner-img-area .banner-img {
    -webkit-mask-image: none;
            mask-image: none;
  }
}

.banner-content .btn-area .number span {
  background-position: 100% 100%;
}

.tj-banner-section-2 .banner-img-area .banner-img img {
  -webkit-mask-image: url(../images/rtl/hero-img-shape-2.svg);
          mask-image: url(../images/rtl/hero-img-shape-2.svg);
  -webkit-mask-position: top left;
          mask-position: top left;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .tj-banner-section-2 .banner-img-area .banner-img img {
    -webkit-mask-image: none;
            mask-image: none;
  }
}

.tj_slider_item .slider-bg::after {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.slider_socials {
  -webkit-writing-mode: sideways-rl;
      -ms-writing-mode: sideways-rl;
          writing-mode: sideways-rl;
}

.tj-banner-section.h5-banner-section .blur-shape {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}
.tj-banner-section.h5-banner-section .banner-img-area .box-item > img {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.h6-hero .hero-orbit {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.h7-hero-shape img {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.tj-h8-banner-shape .shape-1 img, .tj-h8-banner-shape .shape-2 img {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.tj-h8-banner-subscribe .subscribe-form.cta-form [type=submit] .btn-icon i,
.tj-h8-banner-subscribe .subscribe-form.cta-form input[type=submit] .btn-icon i {
  -webkit-transform: rotate(45deg) scaleX(-1);
      -ms-transform: rotate(45deg) scaleX(-1);
          transform: rotate(45deg) scaleX(-1);
}
.tj-h8-banner-subscribe .subscribe-form.cta-form [type=submit]:hover .btn-icon i,
.tj-h8-banner-subscribe .subscribe-form.cta-form input[type=submit]:hover .btn-icon i {
  -webkit-transform: rotate(0deg) scaleX(-1);
      -ms-transform: rotate(0deg) scaleX(-1);
          transform: rotate(0deg) scaleX(-1);
}

.header-area.header-8 .header-button .tj-primary-btn .btn-icon i {
  -webkit-transform: rotate(45deg) scaleX(-1);
      -ms-transform: rotate(45deg) scaleX(-1);
          transform: rotate(45deg) scaleX(-1);
}
.header-area.header-8 .header-button .tj-primary-btn:hover .btn-icon i {
  -webkit-transform: rotate(0deg) scaleX(-1);
      -ms-transform: rotate(0deg) scaleX(-1);
          transform: rotate(0deg) scaleX(-1);
}

.h9-video .h9-video-item .video-wrap {
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

/* !END: Hero CSS */
/**----------------------------------------
START: Client CSS
----------------------------------------*/
.client-slider::before,
.client-slider::after,
.h10-client-shape-1 {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

/* !END: Client CSS */
/**----------------------------------------
START: About CSS
----------------------------------------*/
.about-img {
  -webkit-mask-image: url(../images/rtl/shape-2.svg);
          mask-image: url(../images/rtl/shape-2.svg);
  -webkit-mask-position: top right;
          mask-position: top right;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .about-img {
    -webkit-mask-image: none;
            mask-image: none;
  }
}

.circle-text {
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.about-content-area {
  padding: 55px 45px 64px 70px;
}
.about-content-area::before {
  -webkit-mask-image: url(../images/rtl/shape-1.svg);
          mask-image: url(../images/rtl/shape-1.svg);
  -webkit-mask-position: bottom left;
          mask-position: bottom left;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .about-content-area {
    padding: 40px 35px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-content-area {
    padding: 40px 30px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .about-content-area {
    padding: 40px 20px;
  }
}

.circle-icon {
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.author-area .author-info {
  padding: 27px 0 27px 15px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .author-area .author-info {
    padding: 24px 0 24px 15px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 576px) and (max-width: 767px) {
  .author-area .author-info {
    padding: 20px 0;
  }
}

.experience-area .exp-badge {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.tj-about-section-2 .about-left::after, .tj-about-section-2 .about-left::before {
  -webkit-box-shadow: 16px 0 0 0 var(--tj-color-theme-dark);
          box-shadow: 16px 0 0 0 var(--tj-color-theme-dark);
}
.tj-about-section-2 .about-content-area {
  padding: 110px 10px 0 0;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tj-about-section-2 .about-content-area {
    padding: 110px 40px 0 30px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tj-about-section-2 .about-content-area {
    padding: 90px 30px 0 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .tj-about-section-2 .about-content-area {
    padding: 70px 15px 30px;
  }
}

.circle-text-wrap.about-btn .circle-icon {
  -webkit-transform: translate(50%, -50%) rotate(45deg) scaleX(-1);
      -ms-transform: translate(50%, -50%) rotate(45deg) scaleX(-1);
          transform: translate(50%, -50%) rotate(45deg) scaleX(-1);
}
.circle-text-wrap.about-btn .circle-icon:hover {
  -webkit-transform: translate(50%, -50%) rotate(0deg) scaleX(-1);
      -ms-transform: translate(50%, -50%) rotate(0deg) scaleX(-1);
          transform: translate(50%, -50%) rotate(0deg) scaleX(-1);
}

.h3_about_img .about_reviews {
  padding: 0 50px 25px 0;
}
.h3_about_img .about_reviews::before, .h3_about_img .about_reviews::after {
  -webkit-box-shadow: -10px 0 0 0 var(--tj-color-theme-dark);
          box-shadow: -10px 0 0 0 var(--tj-color-theme-dark);
}
.h3_about_img .about_reviews .bg {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}
@media (max-width: 575px) {
  .h3_about_img .about_reviews {
    padding: 0 34px 25px 0;
  }
}

.h4-about-section .about-content-area {
  padding: 120px 95px 120px 20px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .h4-about-section .about-content-area {
    padding: 120px 60px 120px 20px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .h4-about-section .about-content-area {
    padding: 100px 60px 100px 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .h4-about-section .about-content-area {
    padding: 60px 15px;
  }
}

.h8-about-shape img {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.h9-counter-section .counter-image img,
.h9-counter-section .counter-shape img {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}
.h9-counter-section::after {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

/* !END: About CSS */
/**----------------------------------------
START: Services CSS
----------------------------------------*/
.service-inner {
  border-radius: 10px 10px 10px 0;
}

.service-btn::before {
  -webkit-box-shadow: -10px 0 0 0 var(--tj-color-theme-bg);
          box-shadow: -10px 0 0 0 var(--tj-color-theme-bg);
  -webkit-border-end: 0;
          border-inline-end: 0;
}

.service-item .item-count::before, .service-item .item-count::after {
  -webkit-border-end: 0;
          border-inline-end: 0;
  -webkit-box-shadow: -13px 0 0 0 var(--tj-color-theme-dark);
          box-shadow: -13px 0 0 0 var(--tj-color-theme-dark);
}

.service_list_item .service_reveal_img {
  -webkit-transform: translate(50%, -50%) rotateX(270deg);
          transform: translate(50%, -50%) rotateX(270deg);
}
.service_list_item:hover .service_reveal_img {
  -webkit-transform: translate(50%, -50%) rotateX(360deg);
          transform: translate(50%, -50%) rotateX(360deg);
}

.service-item-3.service-item .service-img::after {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.service-categories ul li a {
  padding: 20px 25px 17px 15px;
}
.service-categories ul li a .icon i {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.tj-post__navigation .tj-nav-post__nav a span i {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

/* !END: Services CSS */
/**----------------------------------------
START: Project CSS
----------------------------------------*/
.project-wrapper-2 .project-item {
  padding: 15px 15px 15px 30px;
}
@media (max-width: 575px) {
  .project-wrapper-2 .project-item {
    padding: 15px;
  }
}

.h8-project-more {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

/* !END: Project CSS */
/**----------------------------------------
START: Video CSS
----------------------------------------*/
.video-content-area .video-wrap {
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

/* !END: Video CSS */
/**----------------------------------------
START: Testimonial CSS
----------------------------------------*/
.testimonial-wrapper .testimonial-item::before {
  -webkit-transform: translateX(50%) rotate(45deg);
      -ms-transform: translateX(50%) rotate(45deg);
          transform: translateX(50%) rotate(45deg);
}
.testimonial-wrapper .client-thumb .author-header {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}
.testimonial-wrapper .testimonial-navigation {
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.testimonial-wrapper-2 .slider-prev,
.testimonial-wrapper-2 .slider-next {
  -webkit-transform: translateX(0) scaleX(-1);
      -ms-transform: translateX(0) scaleX(-1);
          transform: translateX(0) scaleX(-1);
}
.testimonial-wrapper-2:hover .slider-prev {
  -webkit-transform: translateX(50%) scaleX(-1);
      -ms-transform: translateX(50%) scaleX(-1);
          transform: translateX(50%) scaleX(-1);
}
.testimonial-wrapper-2:hover .slider-next {
  -webkit-transform: translateX(-50%) scaleX(-1);
      -ms-transform: translateX(-50%) scaleX(-1);
          transform: translateX(-50%) scaleX(-1);
}

.testimonial_item_2 .testimonial_thumb .video_btn {
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.h9-testimonial-item .tj-qutoe-icon::before, .h9-testimonial-item .tj-qutoe-icon::after {
  -webkit-box-shadow: -12px 0 0 0 var(--tj-color-theme-bg);
          box-shadow: -12px 0 0 0 var(--tj-color-theme-bg);
}

.h10-testimonial-shape {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.location-tooltip {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}
.location-indicator::after, .location-indicator::before {
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.global-map-img img {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

/* !END: Testimonial CSS */
/**----------------------------------------
START: Testimonial CSS
----------------------------------------*/
.team-item .social-links {
  padding: 15px 15px 0 5px;
}

.testimonial-wrapper-3 .quote-icon {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

/* !END: Testimonial CSS */
/**----------------------------------------
START: Technologies CSS
----------------------------------------*/
[dir=rtl] .tech-item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
[dir=rtl] .tech-content {
  text-align: start;
}
[dir=rtl] [dir=rtl] .tech-item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.technologies-item-wrap::before {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}
.technologies-item-wrap::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.h5-technologies-section .blur-shape {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.technologies-circle {
  animation-direction: reverse;
}
.technologies-circle .tech-icon img {
  animation-direction: reverse;
}

/* !END: Technologies CSS */
/**----------------------------------------
START: Process CSS
----------------------------------------*/
.process-step {
  left: 50%;
  -webkit-writing-mode: sideways-rl;
      -ms-writing-mode: sideways-rl;
          writing-mode: sideways-rl;
}

.process-item:hover .process-step {
  -webkit-transform: translateX(-50%) rotate(-90deg);
      -ms-transform: translateX(-50%) rotate(-90deg);
          transform: translateX(-50%) rotate(-90deg);
}

.process-border {
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .process-border {
    -webkit-transform: translate(50%, -50%) rotate(90deg);
        -ms-transform: translate(50%, -50%) rotate(90deg);
            transform: translate(50%, -50%) rotate(90deg);
  }
}

.process-item-2::before {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}
.process-item-2 .process-step {
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.process-border-2 {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

/* !END: Process CSS */
/**----------------------------------------
START: Blog CSS
----------------------------------------*/
.blog-item .blog-content .title a {
  background-position: 100% 90%;
}

.tj_blog_wrap_2 .blog-item:first-child .blog-content {
  padding: 15px 30px 15px 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .tj_blog_wrap_2 .blog-item:first-child .blog-content {
    padding: 20px 15px 15px 15px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tj_blog_wrap_2 .blog-item:not(:first-child) .blog-content {
    padding: 15px;
    -webkit-padding-start: 20px;
            padding-inline-start: 20px;
  }
}

.tj_blog_wrap .blog-item:not(:first-child) .blog-content {
  padding: 15px 25px 15px 15px;
}
@media (max-width: 575px) {
  .tj_blog_wrap .blog-item:not(:first-child) .blog-content {
    padding: 25px 10px 5px 5px;
  }
}

.tj-sidebar-widget.widget-search .search-box form input[type=search] {
  padding: 18px 20px 18px 55px;
}

.post-details-wrapper .blog-text .blog-video .video-btn::before {
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.post-details-wrapper .blog-text .blog-video .video-btn span i {
  display: inline-block;
}

/* !END: Blog CSS */
/**----------------------------------------
START: CTA CSS
----------------------------------------*/
.subscribe-form.cta-form input[type=email] {
  padding: 6px 30px 6px 205px;
}
@media (max-width: 575px) {
  .subscribe-form.cta-form input[type=email] {
    padding: 5px 24px 5px 60px;
  }
}

.subscribe-form input[type=email] {
  padding: 15px 25px 15px 60px;
}
.subscribe-form [type=submit] i,
.subscribe-form input[type=submit] i {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}
.subscribe-form [type=submit]:hover i, .subscribe-form [type=submit]:focus i, .subscribe-form [type=submit]:hover i, .subscribe-form [type=submit]:focus i,
.subscribe-form input[type=submit]:hover i,
.subscribe-form input[type=submit]:focus i,
.subscribe-form input[type=submit]:hover i,
.subscribe-form input[type=submit]:focus i {
  -webkit-transform: scaleX(-1) scale(0.8);
      -ms-transform: scaleX(-1) scale(0.8);
          transform: scaleX(-1) scale(0.8);
}
.subscribe-form input[type=checkbox]::before {
  -webkit-transform: scaleX(-1) scale(0.5);
      -ms-transform: scaleX(-1) scale(0.5);
          transform: scaleX(-1) scale(0.5);
  -webkit-margin-start: 1px;
          margin-inline-start: 1px;
}
.subscribe-form input[type=checkbox]:checked::before {
  -webkit-transform: scaleX(-1) scale(1);
      -ms-transform: scaleX(-1) scale(1);
          transform: scaleX(-1) scale(1);
}

.h6-cta-section .cta-area .cta-baner img {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.tj-footer-section.footer-7 .footer-cta .subscribe_form form input[type=email] {
  padding: 22px 20px 22px 70px;
}
.tj-footer-section.footer-7 .footer-cta .subscribe_form input[type=checkbox]::before {
  -webkit-transform: scaleX(-1) scale(0.5);
      -ms-transform: scaleX(-1) scale(0.5);
          transform: scaleX(-1) scale(0.5);
  -webkit-margin-start: 1px;
          margin-inline-start: 1px;
}
.tj-footer-section.footer-7 .footer-cta .subscribe_form input[type=checkbox]:checked::before {
  -webkit-transform: scaleX(-1) scale(1);
      -ms-transform: scaleX(-1) scale(1);
          transform: scaleX(-1) scale(1);
}

.h9-cta-section .bg-img {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.h9-cta-section .cta-baner .image-2 img {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.h10-cta-section .cta-right .tj-text-btn.style-2::before {
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}
.h10-cta-section .cta-right .tj-text-btn.style-2:hover::before {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

/* !END: CTA CSS */
/**----------------------------------------
START: FAQ CSS
----------------------------------------*/
.accordion_title {
  padding: 27px 0 27px 45px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .accordion_title {
    padding: 20px 0 20px 45px;
  }
  .accordion_title::after {
    top: 17px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .accordion_title {
    padding: 20px 0 20px 40px;
  }
}

.tj_accordion_2 .accordion_title {
  padding: 27px 30px 27px 70px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .tj_accordion_2 .accordion_title {
    padding: 20px 20px 20px 55px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .tj_accordion_2 .accordion_title {
    padding: 20px 20px 20px 60px;
  }
}

.h9-faq-shape-1 img, .h9-faq-shape-2 img {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.h10-faq-section .shape img {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.tj_accordion.h10-accordion .accordion_title {
  padding: 37px 0 37px 45px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .tj_accordion.h10-accordion .accordion_title {
    padding: 30px 0 30px 45px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .tj_accordion.h10-accordion .accordion_title {
    padding: 20px 0 20px 45px;
  }
}

/* !END: FAQ CSS */
/**----------------------------------------
START: Funfact CSS
----------------------------------------*/
.funfact-3 .countup-item:not(:last-child)::before {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 575px) {
  .funfact-3 .countup-item:not(:last-child)::before {
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
}
.funfact-3 .countup-item:not(:last-child)::after {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 575px) {
  .funfact-3 .countup-item:not(:last-child)::after {
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
  }
}

.h5-faq-section .shape img {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

/* !END: FAQ CSS */
/**----------------------------------------
START: Technologies CSS
----------------------------------------*/
.integration-section-wrap::before {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.throwable_items_wrap > * {
  inset-inline-start: inherit;
  left: 0;
}

.integration_item {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.tech-left-area {
  padding: 120px 30px 120px 130px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px) {
  .tech-left-area {
    padding: 100px 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .tech-left-area {
    padding: 60px 15px;
  }
}

.technologies-right::before {
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

/* !END: Technologies CSS */
/**----------------------------------------
START: Pricing CSS
----------------------------------------*/
.price_switcher.style-2 .toggle_switcher .toggle-m {
  -webkit-transform: translateX(-2px);
      -ms-transform: translateX(-2px);
          transform: translateX(-2px);
}
.price_switcher.style-2 .toggle_switcher .toggle-y {
  -webkit-transform: translateX(9px);
      -ms-transform: translateX(9px);
          transform: translateX(9px);
}

.pricing-box .icon i {
  display: inline-block;
}

/* !END: Pricing CSS CSS */
/**----------------------------------------
START: Shop CSS
----------------------------------------*/
.tj-checkout-billing-wrapper .nice-select::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.tj-checkout-billing-wrapper .nice-select.open::after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.woosw-list table.woosw-items tr.woosw-item td .woosw-item--atc {
  float: left;
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .woosw-list table.woosw-items tr.woosw-item td .woosw-item--atc {
    float: unset;
  }
}

div.product-widget.widget_product_categories ul li {
  -webkit-padding-start: 25px;
          padding-inline-start: 25px;
  -webkit-padding-end: 15px;
          padding-inline-end: 15px;
}

.tj-product-action-btn-tooltip::after {
  -webkit-transform: translate(50%, -50%) rotate(45deg);
      -ms-transform: translate(50%, -50%) rotate(45deg);
          transform: translate(50%, -50%) rotate(45deg);
}

.tj-product-details-description ol.commentlist {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-padding-end: 0;
          padding-inline-end: 0;
}
.tj-product-details-description ol.commentlist .review .comment_container img {
  float: right;
  overflow: hidden;
  border-radius: 50%;
}

div.woocommerce .woocommerce-cart-form .actions button[name=update_cart]:disabled:hover .btn-icon i {
  -webkit-transform: scaleX(-1) rotate(-45deg);
      -ms-transform: scaleX(-1) rotate(-45deg);
          transform: scaleX(-1) rotate(-45deg);
}

.woocommerce-form.woocommerce-form-login .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme span::before {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-margin-start: -1px;
          margin-inline-start: -1px;
}

/* !END: Shop CSS */
/**----------------------------------------
START: Theme Footer CSS
----------------------------------------*/
.widget-nav-menu ul li a:hover {
  -webkit-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
          transform: translateX(-5px);
}

.footer-3 .tj_footer_inner::before {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.footer-widget.subscription_widget .subscribe_form input[type=email] {
  padding: 22px 20px 22px 70px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .footer-widget.subscription_widget .subscribe_form input[type=email] {
    padding: 16px 20px 16px 62px;
  }
}

.tj-footer-section.footer-5::before {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.footer-8 .subscription_widget .subscribe_form form input[type=email] {
  padding: 22px 20px 22px 70px;
}
.footer-8 .subscription_widget .subscribe_form form input[type=checkbox]::before {
  -webkit-transform: scaleX(-1) scale(0.5);
      -ms-transform: scaleX(-1) scale(0.5);
          transform: scaleX(-1) scale(0.5);
  -webkit-margin-start: 1px;
          margin-inline-start: 1px;
}
.footer-8 .subscription_widget .subscribe_form form input[type=checkbox]:checked::before {
  -webkit-transform: scaleX(-1) scale(1);
      -ms-transform: scaleX(-1) scale(1);
          transform: scaleX(-1) scale(1);
}

.footer-9 .subscription_widget .subscribe_form form input[type=email] {
  padding: 22px 20px 22px 70px;
}
.footer-9 .subscription_widget .subscribe_form form input[type=checkbox]::before {
  -webkit-transform: scaleX(-1) scale(0.5);
      -ms-transform: scaleX(-1) scale(0.5);
          transform: scaleX(-1) scale(0.5);
  -webkit-margin-start: 1px;
          margin-inline-start: 1px;
}
.footer-9 .subscription_widget .subscribe_form form input[type=checkbox]:checked::before {
  -webkit-transform: scaleX(-1) scale(1);
      -ms-transform: scaleX(-1) scale(1);
          transform: scaleX(-1) scale(1);
}

/* !END: Theme Footer CSS */
/**----------------------------------------
START: Animation 
----------------------------------------*/
@-webkit-keyframes textRotate {
  0% {
    -webkit-transform: translate(50%, -50%) rotate(360deg);
            transform: translate(50%, -50%) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(50%, -50%) rotate(0deg);
            transform: translate(50%, -50%) rotate(0deg);
  }
}
@keyframes textRotate {
  0% {
    -webkit-transform: translate(50%, -50%) rotate(360deg);
            transform: translate(50%, -50%) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(50%, -50%) rotate(0deg);
            transform: translate(50%, -50%) rotate(0deg);
  }
}
@-webkit-keyframes rotate-loading {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotate-loading {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes rotateAntiClock {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotateAntiClock {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes bouncexAnim {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes bouncexAnim {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/* !END: Animation *//*# sourceMappingURL=main-rtl.css.map */